/* filepath: /e:/ecommerce_new/admin/src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Outfit'; 
}

.active {
  background-color: #ffebf5;
  border-color: #C586A5;
}